<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.quickcd.plugin.demo" name="Demo" version="1">
<head>
    <description>a java type plugin demo</description>
</head>

<body>
    <step name="step1-echo-script">
      <description>execute the echo of property script</description>
      <properties>
        <!-- 1 is text, 2 is checkbox, 3 is select, 4 is textarea -->
        <property name="scriptBody" label = "Script Body" type="input" description="The body of the script."/>
      </properties>
      <execution type="java">
          <arg value="-cp"/>
          <arg path="lib/log4j.jar;lib/commons-lang3.jar;lib/echo.jar"/>
          <arg value="com.yq.echo.echoDemo"/>
          <arg value="${INPUT_PROPS}"/>
      </execution>
    </step>
</body>
</plugin>